body {
  margin: 0;
  font-family: $f1;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background-color: #fff;
}

* {
  outline: none !important;
}

.container {
  position: relative;
  width: calc(100% - 76px);
  max-width: 1240px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  &-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .main {
      width: calc(100% - 340px);
      margin-left: 40px;
      box-sizing: border-box;
      padding-top: 40px;

      .container {
        margin-left: 0;
      }

      @include dMax {
        width: 100%;
        padding-top: 103px;
        margin-left: 0;

        .container {
          margin-left: auto;
          margin-right: auto;
          width: calc(100% - 78px);

          @include pMax {
            width: calc(100% - 30px);
          }
        }
      }
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.banner-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 183px;
  text-decoration: none;
  overflow: hidden;

  @include dMax {
    height: 141px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(42, 57, 80, 0.5), rgba(42, 57, 80, 0.5));
  }

  &-image {
    position: absolute;
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
  }

  &-title {
    position: relative;
    z-index: 3;
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;

    @include dMax {
      font-size: 15px;
      line-height: 135%;
    }
  }

  &-link {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 81px;
    background: #5b83fd;
  }

  &:hover {
    @include dMin {
      .banner-block-image {
        transform: scale(1.1);
      }
    }
  }
}

.section-title {
  display: block;
  font-family: $f2;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #2d3139;
  margin-bottom: 56px;

  @include dMax {
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 32px;
  }

  @include pMax {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 24px;
  }
}

.bigMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.2s;
  z-index: 100;
  transform: translateX(calc(-100% - 300px));

  @include dMax {
    display: none;
  }

  &-container {
    position: relative;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 300px;
  }

  &.is-active {
    transform: translateX(0);
  }

  &-overlay {
    position: absolute;
    z-index: 98;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background: rgba(138, 154, 179, 0.8);
  }

  &-content {
    position: relative;
    z-index: 100;
    background-color: #fff;
    box-sizing: border-box;
    padding: 40px;
    height: 100%;
    width: 70%;
    max-width: 900px;
    display: none;

    &.is-active {
      display: block;
    }
  }

  &-catalog {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: -20px;

    .banner-block {
      width: calc(50% - 10px);
      margin-right: 20px;
      margin-bottom: 20px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

.text-page {
  max-width: 1000px;

  h2 {
    display: block;
    font-family: $f2;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #2d3139;
    margin-top: 64px;
    margin-bottom: 32px;
    max-width: 620px;

    @include pMax {
      font-size: 25px;
    }
  }

  p {
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #2d3139;
    margin-bottom: 32px;
  }

  span {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #2d3139;
    margin-bottom: 24px;
    max-width: 345px;
  }

  ul {
    list-style: none;
    display: block;

    li {
      display: block;
      position: relative;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      color: #2d3139;
      padding-left: 24px;
      box-sizing: border-box;

      & + li {
        margin-top: 10px;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #3e60c1;
      }
    }
  }
}

#modal1 {
  padding: 32px 56px 40px;
  background: #f4f4f4;
  width: 98%;
  max-width: 594px;

  @include pMax {
    padding: 32px 10px 40px;
  }

  .application-form {
    padding: 0;
  }
}
.modal1-title {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  font-family: $f2;
  color: #2d3139;
  margin-bottom: 16px;
}

.modal1-desc {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 135%;
  text-align: center;
  color: #6b7285;
  margin-bottom: 44px;
}

.fancybox-close-small {
  svg path {
    fill: #6b7285;
  }
}

#modal2 {
  padding: 108px 56px 40px;
  background: #fff;
  width: 98%;
  max-width: 891px;

  @include pMax {
    padding: 108px 10px 10px;
  }

  .application-form {
    padding: 0;
    background: #fff;
  }

  .fancybox-close-small {
    top: 16px;

    @include pMax {
      top: 0;
      padding: 0;
      width: 20px;
      height: 20px;
    }
  }

  .application-form-row label {
    width: calc(50% - 20px);
    margin-right: 40px;
    &:not(.is-active) {
      border: 1px solid #dee4f1;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .application-form-row {
    @include dMax {
      display: block;
      .application-form-label {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

.modal2-title {
  position: absolute;
  left: 0;
  top: 0;
  height: 76px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #2d3139;
  background: #f4f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  @include pMax {
    font-size: 14px;
  }
}

.modal {
  &-check-row {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 52px;

    @include pMax {
      display: block;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      left: -56px;
      bottom: 0;
      display: block;
      height: 1px;
      width: calc(100% + 112px);
      background-color: #dee4f1;

      @include pMax {
        width: calc(100% + 20px);
        left: -10px;
      }
    }
  }

  &-check-col {
    width: calc(33.333% - 240px / 3);
    margin-right: 120px;
    margin-bottom: 32px;

    @include dMax {
      width: calc(50% - 40px);
      margin-right: 40px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include pMax {
      width: 100%;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:nth-child(3n) {
      margin-right: 0;

      @include dMax {
        margin-right: 40px;
      }
    }
    p {
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 135%;
      color: #2d3139;
      margin-bottom: 24px;
    }

    .calc-checkbox {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
