.header {
  position: relative;
  z-index: 200;
  width: 300px;

  @include dMax {
    position: fixed;
    width: 100%;
    height: 64px;
  }

  &-heading {
    box-sizing: border-box;
    padding: 34px 50px 30px;
    background: #5b83fd;

    @include dMax {
      height: 64px;
      padding: 16px 0 16px 39px;
    }
  }

  &-logo {
    display: block;
    max-width: 132px;
    width: 100%;

    @include dMax {
      width: 94px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &-mobile-wrapper {
    transition: 0.2s;

    @include dMax {
      position: fixed;
      right: 0;
      top: 64px;
      width: 300px;
      transform: translateX(100vw);

      &:before {
        content: '';
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        background: rgba(138, 154, 179, 0.8);
      }

      &.is-active {
        transform: translateX(0);
      }
    }
  }

  &-content {
    position: relative;
    box-sizing: border-box;
    padding: 56px 0 32px 50px;
    background: #39445a;
    transition: 0.2s;

    @include dMax {
      z-index: 2;
      padding: 32px 50px 0;
    }
  }

  &-menu {
    list-style: none;
    display: block;
    margin-bottom: 86px;

    @include dMax {
      margin-bottom: 40px;
    }

    li {
      display: block;

      a {
        position: relative;
        display: block;
        box-sizing: border-box;
        padding-right: 60px;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #ffffff;
        text-decoration: none;
        transition: 0.2s;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          display: block;
          width: 4px;
          height: 24px;
          margin-top: -12px;
          background: #5b83fd;
          transition: 0.2s;
          opacity: 0;
        }

        @include dMin {
          &:hover {
            color: #5b83fd;

            &:before {
              opacity: 1;
            }
          }

          &.is-active {
            color: #5b83fd;

            &:before {
              opacity: 1;
            }
          }
        }

        &:hover {
          color: #5b83fd;
        }
      }

      & + li {
        margin-top: 35px;

        @include dMax {
          margin-top: 30px;
        }
      }
    }

    &-siblings {
      display: none;
      padding: 20px 11px 24px;

      li + li {
        margin-top: 10px;
      }

      li a {
        display: block;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        color: #bcc2d2;
        padding-right: 0;
      }
    }
  }

  &-application {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    min-height: 56px;
    max-width: 156px;
    padding: 5px 12px 5px 20px;
    background: #ef4665;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    font-size: 13px;
    line-height: 135%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;

    img {
      display: block;
      margin-left: 17px;
    }

    @include dMin {
      &:hover {
        opacity: 0.5;
      }
    }

    @include dMax {
      position: relative;
      min-height: 1px;
      max-width: none;
      display: block;
      background-color: transparent;
      padding: 21px 0;
      color: #ef4665;

      img {
        display: none;
      }

      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 300px;
        height: 1px;
        left: -50px;
        top: 0;
        background: #515b71;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 300px;
        height: 1px;
        left: -50px;
        bottom: 0;
        background: #515b71;
      }
    }
  }

  &-contacts {
    display: block;
    margin-top: 32px;

    a {
      display: block;
      transition: 0.2s;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &-phone-link {
    font-weight: 550;
    font-size: 15px;
    line-height: 150%;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }

  &-mail-link {
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #5b83fd;
  }

  &-social {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 80px;

    @include dMax {
      display: none;
    }

    li + li {
      margin-left: 32px;
    }

    a {
      display: block;

      &:hover {
        svg {
          path {
            fill: #ef4665;
          }
        }
      }

      svg {
        display: block;
        max-width: 98%;

        path {
          transition: 0.2s;
        }
      }
    }
  }

  &-disclaimer {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 24px 50px 56px;
    background: #39445a;
    transition: 0.2s;

    @include dMax {
      z-index: 2;
      padding: 24px 50px 32px;
    }

    p {
      font-weight: normal;
      font-size: 13px;
      line-height: 135%;
      color: #979eb0;
    }
  }

  &-mobile {
    position: relative;

    &-wrap {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 113px;
      background: #39445a;
      justify-content: flex-start;
      align-items: stretch;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -24px;
        display: block;
        width: 1px;
        height: 48px;
        background: #6b7285;
      }

      @include dMax {
        display: flex;
      }
    }

    &-phone {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      transition: 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }

    &-burger {
      position: relative;
      display: flex;
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;
      transition: 0.2s;

      span {
        width: 18px;
        height: 2px;
        background-color: #fff;
        transition: 0.2s;

        &:before {
          content: '';
          position: absolute;
          left: 50%;
          display: block;
          width: 26px;
          height: 2px;
          background-color: #fff;
          transition: 0.2s;
          margin-top: -9px;
          margin-left: -13px;
        }

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          display: block;
          width: 26px;
          height: 2px;
          background-color: #fff;
          transition: 0.2s;
          margin-top: 9px;
          margin-left: -13px;
        }
      }

      &:hover {
        opacity: 0.7;
      }

      &.is-active {
        span {
          background-color: transparent;

          &:before {
            margin-top: 0;
            transform: rotate(45deg);
          }

          &:after {
            margin-top: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
