.appointment-section {
  padding-top: 96px;

  .appointment-catalog {
    padding-top: 0;
  }
}

.just-banner {
  position: relative;
  padding: 111px 81px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(42, 57, 80, 0.86) 0%, rgba(42, 57, 80, 0) 31.97%),
      linear-gradient(0deg, rgba(42, 57, 80, 0.6), rgba(42, 57, 80, 0.6));
  }

  &-title {
    position: relative;
    z-index: 2;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    font-family: $f2;
    color: #ffffff;
    margin-bottom: 56px;
    max-width: 528px;
  }

  &-link {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ef4665;
    border-radius: 4px;
    width: 100%;
    max-width: 199px;
    height: 48px;
    font-weight: 500;
    font-size: 13px;
    line-height: 135%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.shades {
  padding-top: 96px;

  &-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -20px;
  }

  &-item {
    width: calc(16.666% - 100px / 6);
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(6n) {
      margin-right: 0;
    }

    p {
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      text-align: center;
      color: #2d3139;
    }

    span {
      display: block;
      width: 100%;
      overflow: hidden;
      font-size: 15px;
      line-height: 150%;
      text-align: center;
      color: #979eb0;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &-color {
    display: block;
    height: 208px;
    width: calc(100% - 66px);
    margin: 0 auto 16px;
  }
}

.mounting {
  padding-top: 96px;

  &-wrapper {
    display: block;
    box-sizing: border-box;
    padding: 16px;
    background: #e9ebef;

    .prices-desc {
      background: #fffde8;
    }
  }

  &-catalog {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }

  &-item {
    display: block;
    width: calc(33.333% - 4px / 3);
    margin-right: 2px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &-title {
    box-sizing: border-box;
    padding: 10px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #2d3139;
    margin-bottom: 2px;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 236px;
    padding: 26px 0;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 2px;

    img {
      display: block;
      width: auto;
      max-width: 98%;
      height: 100%;
    }
  }

  &-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #2d3139;
  }

  &-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 2px;
  }

  &-size {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    height: 40px;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #6b7285;
    width: calc(50% - 1px);

    &:first-child {
      margin-right: 2px;
    }
  }

  &-price {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #5b83fd;
    width: calc(50% - 1px);

    &:first-child {
      margin-right: 2px;
    }
  }
}

.tabs {
  padding-top: 96px;

  .tabs-scroll {
    position: relative;
    margin-left: -28px;

    p {
      font-weight: bold;

      & + p {
        margin-top: 24px;
      }
    }

    span {
      font-weight: normal;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      bottom: -29px;
      left: 12px;
      width: 100%;
      height: 97px;
      background: linear-gradient(0deg, #ffffff 31.44%, rgba(255, 255, 255, 0) 64.43%);
    }
  }

  .mCustomScrollbar {
    height: 423px;
  }

  .section-title {
    margin-bottom: 32px;
  }

  &-desc {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #6b7285;
  }

  &-wrapper {
    display: block;
    box-sizing: border-box;
    padding: 16px;
    background: #e9ebef;
    margin-top: 48px;
  }

  &-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(33.333% - 8px / 3);
      margin-right: 4px;
      background: #5b83fd;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      height: 68px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      transition: 0.2s;

      &.is-active {
        background: #ffffff;
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: #3e60c1;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-content {
    display: none;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    padding: 32px 32px 32px 48px;
    background-color: #fff;

    &.is-active {
      display: flex;
    }
  }

  &-texts {
    width: 61%;
    box-sizing: border-box;
    padding-right: 54px;

    h3 {
      display: block;
      font-weight: 600;
      font-size: 25px;
      line-height: 31px;
      font-family: $f2;
      color: #3e60c1;
      margin-bottom: 24px;
    }

    span {
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      color: #6b7285;
      margin-bottom: 24px;
    }

    p {
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      color: #2d3139;
    }

    ul {
      display: block;
      list-style: none;
      margin: 20px 0 32px;

      li {
        display: block;
        position: relative;
        padding-left: 23px;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        color: #2d3139;

        &:before {
          content: '';
          position: absolute;
          top: 8px;
          left: 0;
          display: block;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #3e60c1;
        }

        & + li {
          margin-top: 10px;
        }
      }
    }

    ol {
      display: block;
      list-style: none;
      margin: 20px 0 32px;

      li {
        display: block;
        position: relative;
        padding-left: 23px;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        color: #2d3139;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 3px;
          left: 0;
          width: 17px;
          height: 15px;
          background: center / auto url(../img/check.svg) no-repeat;
        }

        & + li {
          margin-top: 10px;
        }
      }
    }

    &-bot {
      a:nth-child(2) {
        display: block;
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: #5b83fd;
        text-decoration-line: underline;
      }

      a:nth-child(3) {
        display: block;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        text-decoration-line: underline;
        color: #5b83fd;
        margin-top: 10px;
      }
    }
  }

  &-img {
    display: block;
    width: 39%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-img-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: -2px;

    img {
      width: calc(50% - 1px);
      height: auto;
      margin-bottom: 2px;
      margin-right: 2px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
