.appointment-section {
  padding-top: 96px;

  @include dMax {
    padding-top: 64px;
  }

  @include pMax {
    padding-top: 48px;
  }

  .appointment-catalog {
    padding-top: 0;

    @include dMax {
      .appointment-block {
        &:nth-child(n + 5) {
          display: none;
        }
      }
    }

    @include pMax {
      .appointment-block {
        &:nth-child(n + 4) {
          display: none;
        }
      }
    }
  }
}

.appointment-more {
  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  border: 1px solid #979eb0;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #2d3139;
  text-decoration: none;
  margin-top: 24px;

  @include dMax {
    display: flex;
  }
}

.just-banner {
  position: relative;
  padding: 111px 81px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include dMax {
    padding: 15px;
    min-height: 400px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(42, 57, 80, 0.86) 0%, rgba(42, 57, 80, 0) 31.97%),
      linear-gradient(0deg, rgba(42, 57, 80, 0.6), rgba(42, 57, 80, 0.6));
  }

  &-title {
    position: relative;
    z-index: 2;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    font-family: $f2;
    color: #ffffff;
    margin-bottom: 56px;
    max-width: 528px;

    @include dMax {
      max-width: 350px;
      font-size: 25px;
      line-height: 125%;
      text-align: center;
      margin-bottom: 48px;
    }
  }

  &-link {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ef4665;
    border-radius: 4px;
    width: 100%;
    max-width: 199px;
    height: 48px;
    font-weight: 500;
    font-size: 13px;
    line-height: 135%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.shades {
  padding-top: 96px;

  @include dMax {
    padding-top: 64px;
  }

  @include pMax {
    padding-top: 48px;
  }

  &-catalog {
    display: block;
    margin-bottom: -20px;
  }

  &-pag {
    width: 45px;
    margin: 0 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      &:nth-child(1) {
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: #6b7285;
      }

      &:nth-child(2) {
        font-size: 25px;
        color: #979eb0;
        padding: 0 6px;
      }

      &:last-child {
        font-weight: 550;
        font-size: 11px;
        line-height: 150%;
        color: #979eb0;
      }
    }
  }

  &-tools {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 36px auto 0;
    width: 121px;

    @include dMax {
      display: flex;
    }

    .slick-arrow {
      width: 22px;
      height: 12px;
      color: transparent;
      overflow: hidden;
      padding: 0;
      margin: 0;
      border: none;
      background: transparent center / auto url(../img/polix-arrow.svg) no-repeat;
      cursor: pointer;

      &.slick-next {
        transform: rotate(180deg);
      }
    }
  }

  &-item {
    min-width: 190px;
    margin-bottom: 20px;

    @include dMax {
      min-width: 124px;
    }

    p {
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      text-align: center;
      color: #2d3139;
    }

    span {
      display: block;
      width: 100%;
      overflow: hidden;
      font-size: 15px;
      line-height: 150%;
      text-align: center;
      color: #979eb0;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &-color {
    display: block;
    height: 208px;
    width: calc(100% - 66px);
    margin: 0 auto 16px;
  }
}

.mounting {
  padding-top: 96px;

  @include dMax {
    padding-top: 64px;
  }

  @include pMax {
    padding-top: 48px;
  }

  &-wrapper {
    display: block;
    box-sizing: border-box;
    padding: 16px;

    @include dMax {
      padding-bottom: 32px;
    }
    background: #e9ebef;

    .prices-desc {
      background: #fffde8;

      @include dMax {
        background-color: transparent;

        &-content {
          background: #fffde8;
        }
      }
    }
  }

  &-catalog {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include dMax {
      display: block;
    }
  }

  &-item {
    display: block;
    width: calc(33.333% - 4px / 3);
    margin-right: 2px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    @include dMax {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-title {
    box-sizing: border-box;
    padding: 10px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #2d3139;
    margin-bottom: 2px;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (max-width: 374px) {
      font-size: 12px;
    }

    @include dMax {
      position: relative;
      z-index: 3;
      height: 48px;
      justify-content: flex-start;
      padding-left: 24px;
      padding-right: 40px;
      margin-bottom: 0;

      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 17px;
        top: 50%;
        margin-top: -8px;
        background: center/cover url(../img/mobile-price-bef.svg) no-repeat;
      }

      &.is-active {
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.09);

        &:after {
          transform: rotate(180deg);
        }
      }
    }

    @include pMax {
      padding-left: 16px;
    }
  }

  &-content {
    @include dMax {
      display: none;
    }
  }

  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 236px;
    padding: 26px 0;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 2px;

    @include dMax {
      position: relative;
      z-index: 2;
      background: #ffffff;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.09);
    }

    img {
      display: block;
      width: auto;
      max-width: 98%;
      height: 100%;
    }
  }

  &-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #2d3139;

    @include dMax {
      background: #f4f4f4;
    }
  }

  &-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 2px;
  }

  &-size {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    height: 40px;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #6b7285;
    width: calc(50% - 1px);

    @include dMax {
      background: #f4f4f4;
    }

    &:first-child {
      margin-right: 2px;
    }
  }

  &-price {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #5b83fd;
    width: calc(50% - 1px);

    @include dMax {
      background: #f4f4f4;
    }

    &:first-child {
      margin-right: 2px;
    }
  }
}

.tabs {
  padding-top: 96px;

  @include dMax {
    padding-top: 64px;
  }

  @include pMax {
    padding-top: 48px;
  }

  .tabs-scroll {
    position: relative;
    margin-left: -28px;

    p {
      font-weight: bold;

      & + p {
        margin-top: 24px;
      }
    }

    span {
      font-weight: normal;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      bottom: -29px;
      left: 12px;
      width: 100%;
      height: 97px;
      background: linear-gradient(0deg, #ffffff 31.44%, rgba(255, 255, 255, 0) 64.43%);
    }
  }

  .mCustomScrollbar {
    height: 423px;
  }

  .section-title {
    margin-bottom: 32px;

    @include dMax {
      margin-bottom: 16px;
    }
  }

  &-desc {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #6b7285;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 16px;
    background: #e9ebef;
    margin-top: 48px;

    @include dMax {
      margin-top: 24px;
    }
  }

  &-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;

    @include dMax {
      display: block;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(33.333% - 8px / 3);
      margin-right: 4px;
      background: #5b83fd;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      height: 68px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      transition: 0.2s;
      margin-bottom: 4px;

      @media screen and (max-width: 330px) {
        font-size: 14px;
      }

      &.is-active {
        background: #ffffff;
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: #3e60c1;

        @media screen and (max-width: 330px) {
          font-size: 14px;
        }
      }

      &:nth-child(3) {
        margin-right: 0;
      }

      @include dMax {
        position: relative;
        width: 100%;
        margin-right: 0;
        margin-bottom: 2px;
        height: 56px;
        padding: 0 40px 0 16px;
        box-sizing: border-box;
        justify-content: flex-start;

        &:after {
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          right: 17px;
          top: 50%;
          margin-top: -8px;
          background: center/cover url(../img/tabs-not-ac.svg) no-repeat;
        }

        &.is-active {
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.09);
          margin-bottom: 0;

          &:after {
            background: center/cover url(../img/tabs-ac.svg) no-repeat;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:nth-child(1) {
          order: 1;
        }

        &:nth-child(2) {
          order: 3;
        }

        &:nth-child(3) {
          order: 5;
        }

        &:nth-child(4) {
          order: 7;
        }
      }
    }
  }

  &-content {
    display: none;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    padding: 32px 32px 32px 48px;
    background-color: #fff;

    @include dMax {
      flex-direction: column;

      &:nth-child(4) {
        order: 2;
      }

      &:nth-child(5) {
        order: 4;
      }

      &:nth-child(6) {
        order: 6;
      }
    }

    @include pMax {
      padding: 16px 16px 40px;
    }

    &.is-active {
      display: flex;
    }
  }

  &-texts {
    width: 61%;
    box-sizing: border-box;
    padding-right: 54px;

    @include dMax {
      width: 100%;
      padding-right: 0;
      order: 1;
    }

    h3 {
      display: block;
      font-weight: 600;
      font-size: 25px;
      line-height: 31px;
      font-family: $f2;
      color: #3e60c1;
      margin-bottom: 24px;

      @include dMax {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 16px;
      }
    }

    span {
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      color: #6b7285;
      margin-bottom: 24px;
    }

    p {
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      color: #2d3139;
    }

    ul {
      display: block;
      list-style: none;
      margin: 20px 0 32px;

      li {
        display: block;
        position: relative;
        padding-left: 23px;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        color: #2d3139;

        &:before {
          content: '';
          position: absolute;
          top: 8px;
          left: 0;
          display: block;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #3e60c1;
        }

        & + li {
          margin-top: 10px;
        }
      }
    }

    ol {
      display: block;
      list-style: none;
      margin: 20px 0 32px;

      li {
        display: block;
        position: relative;
        padding-left: 23px;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        color: #2d3139;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 3px;
          left: 0;
          width: 17px;
          height: 15px;
          background: center / auto url(../img/check.svg) no-repeat;
        }

        & + li {
          margin-top: 10px;
        }
      }
    }

    &-bot {
      a:nth-child(2) {
        display: block;
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: #5b83fd;
        text-decoration-line: underline;
      }

      a:nth-child(3) {
        display: block;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        text-decoration-line: underline;
        color: #5b83fd;
        margin-top: 10px;
      }
    }
  }

  &-img {
    display: block;
    width: 39%;

    @include dMax {
      width: 100%;
      height: 324px;
      margin-bottom: 24px;
    }

    @include pMax {
      height: 165px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-img-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: -2px;

    @include dMax {
      height: auto;
      margin-bottom: 32px;
    }

    img {
      width: calc(50% - 1px);
      height: auto;
      margin-bottom: 2px;
      margin-right: 2px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

.tabs-f {
  .tabs-content {
    &:nth-child(5) {
      order: 2;
    }

    &:nth-child(6) {
      order: 4;
    }

    &:nth-child(7) {
      order: 6;
    }

    &:nth-child(8) {
      order: 8;
    }
  }
}
