.text-banner {
  .container {
    position: relative;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, rgba(42, 57, 80, 0.6), rgba(42, 57, 80, 0.6));
    }
  }

  &-title {
    position: relative;
    z-index: 2;
    display: block;
    font-weight: 600;
    font-family: $f2;
    font-size: 35px;
    line-height: 135%;
    text-align: center;
    color: #ffffff;

    @include dMax {
      font-size: 25px;
      line-height: 125%;
    }
  }
}

.breadcrumbs {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
  flex-wrap: wrap;
  margin-bottom: -10px;

  li + li {
    margin-left: 40px;
  }

  li {
    position: relative;
    margin-bottom: 10px;

    &:before {
      content: '/';
      font-weight: normal;
      font-size: 14px;
      line-height: 135%;
      color: #2d3139;
      display: block;
      position: absolute;
      left: -22px;
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }

  a {
    position: relative;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    color: #2d3139;
    text-decoration: none;
  }

  span {
    position: relative;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    color: #979eb0;
  }
}

.appointment-catalog {
  padding-top: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: -20px;

  @include dMax {
    padding-top: 48px;
    margin-bottom: -30px;
  }

  @include pMax {
    display: block;
    margin-bottom: -2px;
  }

  .appointment-block {
    width: calc(33.333% - 40px / 3);
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(3n) {
      margin-right: 0;

      @include dMax {
        margin-right: 30px;
      }
    }

    @include dMax {
      width: calc(50% - 15px);
      margin-right: 30px;
      margin-bottom: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include pMax {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2px;
    }
  }
}

.prices {
  padding-top: 96px;

  .prices-mobile-tabs {
    display: none;

    .prices-mobile-tabs-title {
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      text-align: center;
      color: #2d3139;
      margin-bottom: 16px;
    }
    @include pMax {
      display: block;
      position: absolute;
      top: 16px;
      left: 16px;
      width: calc(100% - 32px);

      .calc-select-heading {
        border: none;
      }
    }

    .calc-select-heading {
      padding-left: 16px;

      span {
        font-weight: 550;
        font-size: 15px;
        line-height: 150%;
        color: #2d3139;
      }

      &:before {
        display: none;
      }

      &:after {
        background: center/auto url(../img/mobile-price-bef.svg) no-repeat;
      }
    }

    .calc-select-content {
      padding-left: 16px;
      border: none;

      span {
        font-weight: 550;
        font-size: 15px;
        line-height: 150%;
        color: #2d3139;
      }
    }
  }

  @include dMax {
    padding-top: 64px;
  }

  &-table {
    @include dMax {
      display: none;
    }
  }

  &-mobile {
    display: none;

    @include dMax {
      display: block;
    }

    &-row {
      display: block;
      margin: 2px 0;
      width: 100%;

      &:last-child {
        .prices-mobile-heading {
          background: #5b83fd;
          span {
            font-weight: 500;
            font-size: 15px;
            line-height: 150%;
            text-transform: uppercase;
            color: #ffffff;
          }

          &:before {
            background-image: url(../img/mobile-price-bef-white.svg);
            transform: rotate(180deg);
          }
        }

        .is-active.prices-mobile-heading {
          &:before {
            transform: rotate(0);
          }
        }

        .prices-mobile-col span:last-child {
          font-weight: 500;
          font-size: 15px;
          line-height: 150%;
          color: #5b83fd;
        }
      }
    }

    &-heading {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 40px 10px 24px;
      min-height: 48px;
      background: #ffffff;

      @include dMax {
        padding: 10px 40px 10px 16px;
      }

      span {
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: #2d3139;
      }

      &:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 17px;
        top: 50%;
        margin-top: -8px;
        background: center / cover url(../img/mobile-price-bef.svg) no-repeat;
      }

      &.is-active {
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.09);

        &:before {
          transform: rotate(180deg);
        }
      }
    }

    &-content {
      display: none;
      background: #f4f4f4;
      box-sizing: border-box;
      width: 100%;
      padding: 12px 40px 0 24px;

      @include dMax {
        padding: 12px 35px 0 16px;
      }
    }

    &-col-heading {
      min-height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 10px 0;
      border-bottom: 1px solid #dee4f1;

      span {
        display: block;
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: #6b7285;
      }
    }

    &-col {
      min-height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 10px 0;
      border-bottom: 1px solid #dee4f1;

      span {
        display: block;

        &:first-child {
          font-weight: 500;
          font-size: 15px;
          line-height: 150%;
          color: #2d3139;
        }

        &:last-child {
          font-weight: normal;
          font-size: 15px;
          line-height: 150%;
          color: #6b7285;
        }
      }
    }

    &-desc {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-height: 80px;
      font-style: italic;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      color: #6b7285;
      box-sizing: border-box;
      padding: 10px 0;
    }
  }

  &-heading {
    display: block;
    width: 392px;
    margin: 0 auto;

    @include pMax {
      display: none;
    }

    &-title {
      display: block;
      margin-bottom: 24px;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      color: #6b7285;

      @include pMax {
        display: none;
      }
    }

    &-tabs {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      border-bottom: 3px solid #dee4f1;

      &-item {
        position: relative;
        display: block;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        font-family: $f2;
        color: #2d3139;
        width: 72px;
        padding-bottom: 10px;
        cursor: pointer;

        &:first-child,
        &:last-child {
          width: 88px;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: -3px;
          left: 0;
          height: 3px;
          width: 100%;
          background: #5b83fd;
          transition: 0.2s;
          opacity: 0;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: -21px;
          left: 50%;
          margin-left: -10px;
          border: 10px solid transparent;
          border-top: 8px solid #5b83fd;
          transition: 0.2s;
          opacity: 0;
        }

        &.is-active {
          color: #5b83fd;

          &:before,
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }

  &-content {
    box-sizing: border-box;
    padding: 16px;
    background: #e9ebef;
    display: none;

    @include dMax {
      padding: 24px;
    }

    @include pMax {
      padding: 16px;
      padding-top: 114px;
    }

    &.is-active {
      display: block;
    }

    &-wrapper {
      position: relative;
      margin-top: 28px;
    }
  }

  &-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    & + & {
      margin-top: 2px;
    }

    &:first-child {
      & > .prices-col:first-child {
        justify-content: center;

        span {
          font-weight: 550;
          font-size: 15px;
          line-height: 150%;
          text-align: center;
          text-transform: uppercase;
          color: #2d3139;
        }
      }

      & > .prices-col:last-child {
        width: 772px;

        @media screen and (max-width: 1400px) {
          width: 610px;
        }

        & > .prices-row {
          flex-wrap: wrap;

          .prices-row {
            width: 100%;

            .prices-col {
              width: 127px;

              @media screen and (max-width: 1400px) {
                width: 100px;
              }
            }
          }

          .prices-col {
            span {
              font-weight: 500;
              font-size: 15px;
              line-height: 150%;
              color: #2d3139;
            }

            &:first-child {
              max-width: none;
              margin-bottom: 2px;
              justify-content: center;
            }
          }

          & > .prices-col:first-child {
            margin-right: 0;
            width: 100%;
          }
        }
      }
    }

    &:last-child {
      .prices-col {
        span {
          color: #5b83fd;
        }
      }
    }
  }

  &-col {
    min-height: 54px;
    display: flex;
    align-items: center;
    width: 127px;
    background: rgba(255, 255, 255, 0.66);
    margin-right: 2px;
    justify-content: center;
    flex-shrink: 0;

    @media screen and (max-width: 1400px) {
      width: 100px;

      span {
        text-align: center;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    span {
      display: block;
      padding: 10px 20px;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      color: #6b7285;
    }

    &:first-child {
      width: 36%;
      background: #fff;
      justify-content: flex-start;
      max-width: 434px;
      flex-shrink: 1;

      span {
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: #2d3139;
        text-align: left;
      }
    }
  }

  &-desc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    background: #f4f4f4;
    padding: 25px 20px;
    box-sizing: border-box;

    @include dMax {
      display: block;
      background-color: transparent;
      padding: 0;
    }

    &-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: 728px;

      @include dMax {
        max-width: none;
        box-sizing: border-box;
        padding: 24px 54px 32px 24px;
        background: #f4f4f4;
        margin-bottom: 32px;

        @include pMax {
          padding: 16px 16px 24px 16px;
          align-items: flex-start;
        }
      }

      p {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #2d3139;
      }
    }

    &-icon {
      display: block;
      flex-shrink: 0;
      margin-right: 16px;
    }
  }

  &-btn {
    width: 201px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-weight: 550;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s;
    background: #5b83fd;
    border-radius: 3px;
    flex-shrink: 0;

    &:hover {
      opacity: 0.7;
    }

    @include dMax {
      width: 100%;
      max-width: 313px;
      margin: 0 auto;
    }
  }
}

.reviews {
  padding-top: 96px;

  @include dMax {
    padding-top: 64px;
  }

  &-catalog {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: -20px;

    @include dMax {
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 0;
    }
  }

  &-item {
    box-sizing: border-box;
    width: calc(33.333% - 40px / 3);
    background: #f4f4f4;
    padding: 80px 0 40px 40px;
    display: flex;
    flex-direction: column;
    min-height: 521px;
    margin-right: 20px;

    &:nth-child(3n) {
      margin-right: 0;

      @include dMax {
        margin: 0 15px;
      }
    }

    p {
      box-sizing: border-box;
      display: block;
      font-style: italic;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      color: #2d3139;
      padding-right: 34px;
      margin-bottom: 32px;
    }

    @include dMax {
      width: auto;
      margin: 0 15px;
      padding: 56px 0 48px 24px;
    }
  }

  &-icon {
    display: block;
    margin-bottom: 32px;
    height: 60px;

    img {
      display: block;
      max-width: 98%;
    }
  }

  &-dote {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 23px;

    img {
      display: block;
      width: 22px;
      flex-shrink: 0;
    }

    &-line {
      display: block;
      width: calc(100% - 39px);
      margin-left: auto;
      height: 1px;
      background: #d8dae0;
    }
  }

  &-heading {
    box-sizing: border-box;
    display: block;
    padding-bottom: 10px;
    padding-right: 40px;

    & > span {
      display: block;

      &:nth-child(1) {
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: #2d3139;
      }

      &:nth-child(2) {
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #6b7285;
      }
    }
  }

  &-link {
    margin-top: auto;
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #5b83fd;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  &-pag {
    width: 45px;
    margin: 0 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      &:nth-child(1) {
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: #6b7285;
      }

      &:nth-child(2) {
        font-size: 25px;
        color: #979eb0;
        padding: 0 6px;
      }

      &:last-child {
        font-weight: 550;
        font-size: 11px;
        line-height: 150%;
        color: #979eb0;
      }
    }
  }

  &-tools {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 36px auto 0;
    width: 121px;

    @include dMax {
      display: flex;
    }

    .slick-arrow {
      width: 22px;
      height: 12px;
      color: transparent;
      overflow: hidden;
      padding: 0;
      margin: 0;
      border: none;
      background: transparent center / auto url(../img/polix-arrow.svg) no-repeat;
      cursor: pointer;

      &.slick-next {
        transform: rotate(180deg);
      }
    }
  }
}

.application {
  padding-top: 96px;

  &-link {
    display: none;

    @include pMax {
      display: inline;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      color: #5b83fd;
    }
  }

  &-text-col.is-active {
    .application-link {
      display: none;
    }

    p + p {
      display: block;
    }
  }

  @include dMax {
    padding-top: 64px;
  }

  @include pMax {
    padding-top: 48px;
  }

  &-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include dMax {
      flex-direction: column;
    }
  }

  &-col {
    box-sizing: border-box;
    width: calc(50% - 50px);

    @include dMax {
      width: 100%;
    }

    &:first-child {
      margin-right: auto;
      padding-right: 58px;

      @include dMax {
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        order: 1;
        margin-top: 64px;
      }
    }
  }

  .section-title {
    margin-bottom: 48px;
    text-align: left;
    max-width: 441px;

    @include dMax {
      text-align: center;
      margin: 0 auto 32px;
    }

    @include pMax {
      margin-bottom: 24px;
    }
  }

  p {
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #6b7285;

    & + p {
      margin-top: 20px;

      @include pMax {
        display: none;
      }
    }
  }

  &-form {
    box-sizing: border-box;
    display: block;
    padding: 68px 72px 56px 56px;
    background: #f4f4f4;

    @include dMax {
      padding: 52px 40px;
    }

    @include pMax {
      padding: 44px 16px 32px;
    }

    &-label {
      display: block;
      position: relative;
      box-sizing: border-box;
      height: 48px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid transparent;
      transition: 0.2s;
      margin-bottom: 20px;
      background-color: #fff;

      @include pMax {
        margin-bottom: 16px;
      }

      input,
      textarea {
        box-sizing: border-box;
        display: block;
        margin: 0;
        padding: 5px 16px;
        border: none;
        width: 100%;
        height: 100%;
        font-family: $f1;
        font-weight: normal;
        font-size: 11px;
        line-height: 150%;
        letter-spacing: 0.1em;
        color: #2d3139;
      }

      textarea {
        resize: none;
      }

      span:not(.wpcf7-form-control-wrap):not(.wpcf7-not-valid-tip) {
        position: absolute;
        left: 16px;
        bottom: 30%;
        display: block;
        font-weight: normal;
        font-size: 11px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #2d3139;
        transition: 0.2s;
      }

      &.is-active {
        border-color: #5b83fd;
        box-sizing: border-box;
        border-radius: 3px;

        span:not(.wpcf7-form-control-wrap):not(.wpcf7-not-valid-tip) {
          bottom: 100%;
          left: -1px;
          font-weight: normal;
          font-size: 10px;
          line-height: 135%;
          color: #ffffff;
          padding: 1px 5px;
          background: #5b83fd;
          border-radius: 5px 5px 0 0;
        }

        .application-form-file-name {
          opacity: 1;
        }
      }

      &-for_text {
        height: 109px;

        span {
          bottom: 72%;
        }
      }

      &-for_file {
        input {
          opacity: 0;
        }

        .application-form-file-btn {
          position: absolute;
          right: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 102px;
          height: 40px;
          background: #d8dae0;
          font-weight: normal;
          font-size: 13px;
          line-height: 150%;
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #6b7285;
          margin-top: 0;
        }

        .application-form-file-name {
          position: absolute;
          left: 16px;
          opacity: 0;
          display: block;
          font-weight: 400;
          font-size: 11px;
          line-height: 150%;
          letter-spacing: 0.1em;
          color: #2d3139;
          transition: 0.2s;
        }
      }
    }

    &-row {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;

      @include pMax {
        display: block;
      }

      label {
        width: calc(50% - 12px);
        margin-right: 24px;

        @include pMax {
          width: 100%;
          margin-right: 0;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    &-submit {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include pMax {
        flex-direction: column;
      }

      .calc-btn {
        margin-left: auto;

        @include pMax {
          margin: 16px auto 24px;
          order: -1;
          max-width: none;
          width: 100%;
        }
      }
    }

    &-polic {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-right: 20px;

      &-check {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;

        input {
          display: none;

          &:checked + b {
            &:before {
              content: '';
              display: block;
              position: absolute;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: #5b83fd;
            }
          }
        }

        b {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #ffffff;
          border: 1px solid #d6d6d8;
          box-sizing: border-box;
          box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
          width: 18px;
          height: 18px;
          border-radius: 50%;
        }
      }

      p {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        color: #2a2d34;

        a {
          display: block;
          font-weight: normal;
          font-size: 14px;
          line-height: 120%;
          color: #2a68fb;
        }
      }
    }
  }
}
